# FT232H
NET "ADBUS<0>" LOC="N13";
NET "ADBUS<1>" LOC="P13";
NET "ADBUS<2>" LOC="N12";
NET "ADBUS<3>" LOC="P12";
NET "ADBUS<4>" LOC="L8";
NET "ADBUS<5>" LOC="N9";
NET "ADBUS<6>" LOC="M8";
NET "ADBUS<7>" LOC="N7";
NET "ACBUS<0>" LOC="N11";
NET "ACBUS<1>" LOC="P11";
NET "ACBUS<2>" LOC="N10";
NET "ACBUS<3>" LOC="P10";
NET "ACBUS<4>" LOC="P9";
NET "ACBUS<5>" LOC="N8";
NET "ACBUS<6>" LOC="P8";
NET "ACBUS<7>" LOC="N6";
NET "LED" LOC="H11";
